html, body, #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at 20% 20%, #00ff95 0%, #002218 70%);
  color: #111;
  font-family: 'Poppins', sans-serif;
}
