.sheet-control-panel {
    padding: 1.5rem;
    max-height: 80vh;
    width: 80vw;
    overflow-y: auto;
/* From https://css.glass */
background: rgba(0, 255, 102, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(0, 255, 102, 0.3);
    font-family: sans-serif;
    font-family: 'Poppins', sans-serif;
  }
  
  .access-role {
    margin-bottom: 1rem;
  }
  
  .checkbox-row {
    display: inline-block;
    margin-right: 1rem;
    text-transform: capitalize;
  }
  
  .column-access-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  .column-access-table th,
  .column-access-table td {
    background: #000000 !important;
    border: 1px solid #ccc;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
  }
  